* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #FAEDCD;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #000;
  min-height: 100vh;
  position: relative;
}

.heading-primary {
  font-size: 5rem;
}

.heading-secondary {
  font-size: 3rem;
  margin: 2rem 0;
}

.btn-newBook {
  display: inline-block;
  padding: 1.5rem 1.5rem 1.2rem 1.5rem;
  margin-top: 2rem;
  border-radius: 3px;
  border: 1px solid #D4A373;
  transition: all 500ms;
}
.btn-newBook:hover {
  background-color: #D4A373;
}
.btn-newBook:hover .icon-plus {
  fill: #FEFAE0;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  width: fit-content;
  display: none;
  padding: 1.5rem 2rem;
  transition: 500ms;
  position: relative;
}
.card__header {
  padding: 1rem 2rem;
  font-size: 2rem;
  margin: 0;
}
.card__list {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card__item--isRead {
  border: 1px solid blue;
  color: blue;
  padding: 1rem;
  align-self: flex-end;
}
.card__item--isRead:hover {
  cursor: pointer;
}
.card__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.card__img {
  width: 30rem;
  cursor: pointer;
}
.card__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  opacity: 0;
  transition: 500ms;
}
.card__close:hover {
  cursor: pointer;
}
.card:hover {
  transform: translateY(-5px);
}
.card:hover .card__close {
  opacity: 1;
}

.sidebar {
  background-color: #D4A373;
  min-height: 100vh;
  width: 10%;
  padding: 0;
}

body {
  display: flex;
}

.section-main {
  padding: 5rem;
  flex: 1;
}

.bookDisplay {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: space-around;
  gap: 3rem;
  padding: 3rem;
  padding-top: 2rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__background {
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__close {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
}
.popup__form {
  display: flex;
  justify-content: center;
}
.popup__form .form {
  padding: 5rem 8rem;
  background-color: #E9EDC9;
  opacity: 0;
  border-radius: 4px;
  z-index: 2;
  height: 100%;
  position: relative;
  color: #000;
  font-weight: 600;
}
.popup__form .form__group {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.popup__form .form__label {
  padding: 1rem;
}
.popup__form .form__input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: #FEFAE0;
}
.popup__form .form__input--checkbox {
  transform: scale(1.5);
  border-color: transparent;
}
.popup__form .form__input--checkbox:hover {
  cursor: pointer;
}
.popup__form .form__input--image {
  border: none;
  background-color: transparent;
}
.popup__form .form__submit {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: #FEFAE0;
}
.popup__form .form__submit:hover {
  cursor: pointer;
  background-color: #CCD5AE;
}

.icon-plus {
  width: 3rem;
  height: 3rem;
  fill: #D4A373;
}

/*# sourceMappingURL=styles.css.map */
