.popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    display: flex;
    align-items: center;
    justify-content: center;

    &__background{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

    &__close{
        position: absolute;
        top: 2rem;
        right: 2.5rem;
    }


    &__form{
        display: flex;
        justify-content: center;

        .form{
            padding: 5rem 8rem;
            background-color: white;
            opacity: 0;
            border-radius: 4px;
            z-index: 2;
            height: 100%;
            position: relative;
           
    
            &__group{
                padding: 1rem;
                display: flex;
                align-items: center;
            }
            &__label{
                padding: 1rem;
                
            }
            &__input{
                padding: .5rem 1rem;
                border: 1px solid black;
                border-radius: 5px;
                font-size: inherit;
                font-family: inherit;
                color: inherit;
            }

            &__submit{
                display: block;
                margin: 0 auto;
                padding: 2rem;
                border: none;
                border-radius: 5px;

                &:hover{
                    cursor: pointer;
                    background-color: rgb(188, 188, 188);
                }
            }
        }
    }
   
}



.icon-plus{
    width: 3rem;
    height: 3rem;
    fill: #D4A373;
}