*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    background-color: #e2e0e0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #000;
    padding: 5rem;
    min-height: 100vh;
}